.input-numbers {
  margin-top: 2.5rem;
  display: grid;
  grid-auto-flow: column;
  gap: .75rem;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 30.125rem;
  & .input-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    & label {
      color: var(--content-secondary);
      text-transform: uppercase;
      margin-bottom: .5rem;
    }
    & .gradient-input {
      position: relative;
      padding: 1px;
      & .gradient-border {
        top: -0.25px;
        left: -1px;
      }
      & input {
        width: 100%;
        border: none;
        outline: var(--background-secondary);
        background: var(--background-secondary);
        color: var(--content-primary);
        text-align: center;
        padding-block: .8rem;
        border-radius: .5rem;
        &:focus {
          background: var(--background-tertiary);
        }
      }
    }
  }
  & .input-wrapper:hover {
    & label {
      color: var(--content-brand);
    }
    & .gradient-input {
      background: var(--gradient-border);
      border-radius: .5rem;
    }
    & input {
      background: var(--background-tertiary);
    }
  }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}