@import url(forms/input.css);

form {
  text-align: start;
  & fieldset {
    border: none;
    & legend {
      color: var(--content-primary);
      text-transform: uppercase;
    }
    & p {
      color: var(--content-tertiary);
    }
  }
}